/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('/fonts/ofont.ru_Myriad Pro.eot');
	src: local('☺'), url('/fonts/ofont.ru_Myriad Pro.woff') format('woff'), url('/fonts/ofont.ru_Myriad Pro.ttf') format('truetype'), url('/fonts/ofont.ru_Myriad Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Fonts */

// Nullstyle
@import "reset.scss";

// Palette
$dark: #000;
$white: #fff;

// Header + NAV colors
$headerLinkColor: #3c3c3c;
$firstLinkColor: #ada074;
// Header + NAV colors

// About section colors
$aboutTextColor: #868585;
$aboutIcoBorderIcoColor: #f1f1f1;
$item-aboutTextColor: #868585;
// About section colors

// Portfolio section colors
$portfolioBGColor: #f3f3f3;
$portfolioIMGColor: #eaeaea;
// Portfolio section colors

// Mixins
@mixin textParameters($color: $dark,
                        $size: 14px,
                        $style: normal,
                        $weight: 300,
                        $lh: 1,
                        $ls: normal,
                        $transform: none,
                        $opacity: 1,
                        $shadow: none,
                        $decoration: none) 
                      {
                          color: $color;
                          font-size: $size;
                          font-style: $style;
                          font-weight: $weight;
                          line-height: $lh;
                          letter-spacing: $ls;
                          text-transform: $transform;
                          opacity: $opacity;
                          text-shadow: $shadow;
                          text-decoration: $decoration;
}

body {
  font-family: 'Lato', sans-serif;
  @include textParameters();
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	min-height: 100vh;
	padding: 165px 0 153px 0;
	background: url(/img/BG-Intro-cut.jpg) 0 0/cover no-repeat;
}

// Templates
.title {
  @include textParameters($weight: 700,
                          $size: 34px,
                          $transform: uppercase,
                          $ls: 8.95px);
	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;

	&:after{
		content:'';
		position: absolute;
		width: 81px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: $dark;
		margin: 0px 0px 0px -40.5px;
	}
}

.more {
  display: inline-block;
  position: relative;
  padding: 16px 40px 18px 42px;

  @include textParameters($weight: 400,
                          $size: 16px,
                          $transform: uppercase,
                          $ls: 0.67px);
}

.menu {
  margin: 0 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link {
    @include textParameters($color: $headerLinkColor,
                            $size: 15px,
                            $weight: 400,
                            $transform: uppercase);
    
    &_1 {
      color: $firstLinkColor;
    }
  }
  
}

/* Intro styles */
.intro {

	&__row {
		display: flex;
    flex-wrap: wrap;
		margin: 0 auto;
	}

	&__body {
		margin: 0 auto;
    max-width: 757px;
    text-align: center;
	}

	&__logo {
    margin-bottom: 154px;
	}

	&__title {

    margin-bottom: 228px;

    span {
      font-family: 'Lato', sans-serif;
      display: inline-block;
      margin-bottom: 14px;

      @include textParameters($color: $white,
                              $weight: 900,
                              $size: 34px,
                              $transform: uppercase,
                              $ls: 5.43px);
    }

    @include textParameters($color: $white,
                            $weight: 400,
                            $size: 26px,
                            $ls: 4.15px);

    position: relative;
    padding-bottom: 50px;
  
    &::after {
      content: "";
      position: absolute;
      width: 105px;
      bottom: 0;
      height: 2px;
      left: 50%;
      background-color: $white;
      margin: 0 0 0 -52.5px;
    }

  }

	&__more {
    border: 2px solid $white;
    color: $white;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 116px;
        left: 50%;
        width: 12px;
        height: 12px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        margin: 0 0 0 -6px;
        transform: rotate(135deg); 
      }
	}
}
/* Intro styles */

/* Header styles */
.header {
  padding-top: 22px;
  margin-bottom: 150px;

  &__nav {
    max-width: 422px;
  }
}
/* Header styles */

/* Main content styles */
.content {
	flex: 1 1 auto;
}
/* Main content styles */


/* About section styles */
.about {

  margin-bottom: 88px;

	&__body {
		max-width: 823px;
		margin: 0px auto;
	}

	&__header {
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
		max-width: 688px;
    @include textParameters($color: $aboutTextColor,
                            $lh: 25.89px);
		text-align: center;
		margin: 0px auto;

    span {
      max-width: 480px;
      display: inline-block;
      text-align: center;
    }
	}

	&__row {
		display: flex;
    flex-wrap: wrap;
		font-size: 0;
		margin: 0px -15px;
	}

	&__column {
		padding: 0px 15px;
		flex: 0 0 33.333%;
	}
}

.item-about {

	&__icon {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid $aboutIcoBorderIcoColor;
		display: flex;
    flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

    &_3 {
       padding-left: 8px;
    }
	}

	&__title {
		text-align: center;
    @include textParameters($size: 22px,
                            $weight: 400,
                            $transform: uppercase,
                            $ls: 3.52px);
		margin: 0px 0px 24px 0px;
	}

	&__text {
    margin: 0 auto;
    text-align: center;
    @include textParameters($color: $item-aboutTextColor,
                            $lh: 26px);
      &_1 {
        max-width: 183px;
      }

      &_3 {
        max-width: 248px;
      }
	}
}
/* About section styles */

/* Portfolio styles */
.portfolio {

  &__body {
    padding-top: 107px;
    padding-bottom: 62px;
    background-color: $portfolioBGColor;
  }

  &__header {
    margin-bottom: 136px;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__nav {
    max-width: 294px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 538px);
    row-gap: 16px;
    column-gap: 27px;
    justify-content: center;
    margin-bottom: 64px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    flex-wrap: wrap;
  }

  &__card-color {
    width: 538px;
    height: 365px;
    background-color: $portfolioIMGColor;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__more {
    border: 2px solid $dark;
  }
}
/* Portfolio styles */





