// Palette
$dark: #000;
$white: #fff;
$darkgrey: #3c3c3c;

// Header + NAV colors

$firstLinkColor: #ada074;
// Header + NAV colors

// About section colors
$aboutTextColor: #868585;
$aboutIcoBorderIcoColor: #f1f1f1;
$item-aboutTextColor: #868585;
// About section colors

// Portfolio section colors
$portfolioBGColor: #f3f3f3;
$portfolioIMGColor: #eaeaea;
// Portfolio section colors

// Contact section colors
$inputAfterShadowColor: #f8f7f7;
// Contact section colors

// Footer colors
$footerNavLinksColor: #a4a4a4;
$copyrightTextColor: #6c6c6c;
// Footer colors