/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/ofont.ru_Myriad Pro.eot');
	src: local('☺'), url('../fonts/ofont.ru_Myriad Pro.woff') format('woff'), url('../fonts/ofont.ru_Myriad Pro.ttf') format('truetype'), url('../fonts/ofont.ru_Myriad Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Fonts */

// Nullstyle
@import "_reset.scss";

// Palette
@import "_palette.scss";

// Adaptive font variables

// Mixins
@mixin textParameters($color: $dark,
  $size: 14px,
  $style: normal,
  $weight: 300,
  $lh: 1,
  $ls: normal,
  $transform: none,
  $opacity: 1,
  $shadow: none,
  $decoration: none) {
    color: $color;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $lh;
    letter-spacing: $ls;
    text-transform: $transform;
    opacity: $opacity;
    text-shadow: $shadow;
    text-decoration: $decoration;
}

body {
  font-family: 'Lato', sans-serif;
  @include textParameters();
}

a {
  transition: .5s;
  
  &:hover, &:active {
    opacity: .85;
  }
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	min-height: 100vh;
	padding: 165px 0 153px 0;
	background: url("../img/BG-Intro-cut-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Templates
.section__body {
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @include textParameters($weight: 700,
    $size: 34px,
    $transform: uppercase,
    $ls: 8.95px);

	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;

	&:after{
		content:'';
		position: absolute;
		width: 81px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: $dark;
		margin: 0px 0px 0px -40.5px;
	}
}

.more {
  display: inline-block;
  position: relative;
  padding: 16px 40px 18px 42px;

  @include textParameters($weight: 400,
    $size: 16px,
    $transform: uppercase,
    $ls: 0.67px);
}

.menu {
  margin: 0 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    @include textParameters($color: $darkgrey,
      $size: 15px,
      $weight: 400,
      $transform: uppercase);

      &.active {
        color: $activeLinkColor;
      }
  }
}

.logo {

  &__pic {
    object-fit: cover;
  }
}

/* Intro styles */
.intro {

  &__nav {
    display: none;
  }

	&__row {
		display: flex;
    flex-wrap: wrap;
		margin: 0 auto;
	}

	&__body {
    max-width: 787px;
    text-align: center;
	}

  &__burger {
    display: none;
  }

	&__logo {
    margin-bottom: 154px;
	}

	&__title {
    margin-bottom: 228px;

    span {
      font-family: 'Lato', sans-serif;
      display: inline-block;
      margin-bottom: 14px;

      @include textParameters($color: $white,
        $size: 34px,
        $weight: 900,
        $transform: uppercase,
        $ls: 5.43px);
    }

    @include textParameters($color: $white,
      $weight: 400,
      $size: 26px,
      $ls: 4.15px);

    position: relative;
    padding-bottom: 50px;
  
    &::after {
      content: "";
      position: absolute;
      width: 105px;
      bottom: 0;
      height: 2px;
      left: 50%;
      background-color: $white;
      margin: 0 0 0 -52.5px;
    }

  }

	&__more {
    border: 2px solid $white;
    color: $white;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 116px;
        left: 50%;
        width: 12px;
        height: 12px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        margin: 0 0 0 -6px;
        transform: rotate(135deg); 
      }
	}
}
/* Intro styles */

/* Header styles */
.header {
  padding-top: 22px;
  transition: .5s all ease-in-out;


  &__sticky {
    background-color: $stickyMenuColor;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s all linear;

    padding-bottom: 22px;
    z-index: 999;
  }

  &__nav {
    overflow: hidden;
    max-width: 422px;
  }

}
/* Header styles */

/* Main content styles */
.content {
	flex: 1 1 auto;
}
/* Main content styles */

/* About section styles */
.about {
  padding-top: 150px;
  padding-bottom: 88px;

	&__body {
		max-width: 853px;
    margin: 0 auto;
    padding: 0 15px;
	}

	&__header {
		margin: 0px 0px 65px 0px;
    text-align: center;
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
		max-width: 688px;
    @include textParameters($color: $aboutTextColor, $lh: 25.89px);
		margin: 0px auto;

    p {

      &:last-child {
        max-width: 480px;
        display: inline-block;
      }
    }
	}

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 1 33.333%;
    display: flex;
  }
}

.item-about {
  text-align: center;

  display: flex;
  flex-direction: column;

	&__icon {
		margin: 0px auto 40px auto;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid $aboutIcoBorderIcoColor;
		display: flex;
		align-items: center;
		justify-content: center;

    &_active {
      padding-left: 10px;
    }
	}

	&__title {
    margin-bottom: 20px;

    @include textParameters($size: 22px,
      $weight: 400,
      $transform: uppercase,
      $ls: 3.52px);
	}

	&__text {
    @include textParameters($color: $item-aboutTextColor, $lh: 26px);
    margin: 0 auto;


    &_paddingLR-30 {
      padding: 0 30px;
    }

    &_paddingLR-5 {
      padding: 0 5px;
    }

    &_paddingLR-15 {
      padding: 0 15px;
    }
	}
}
/* About section styles */

/* Portfolio styles */
.portfolio {

  &__body {
    padding-top: 107px;
    padding-bottom: 62px;
    max-width: 100%;
    background-color: $portfolioBGColor;
  }

  &__header {
    margin-bottom: 136px;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__nav {
    max-width: 294px;
  }

  &__cards {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 538px);
    grid-template-rows: repeat(3, 365px);
    row-gap: 16px;
    column-gap: 27px;
    justify-content: center;
    margin-bottom: 64px;
  }

  &__card-color {
    width: 100%;
    height: 100%;
    background-color: $portfolioIMGColor;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__more {
    border: 2px solid $dark;
  }
}
/* Portfolio styles */

/* Partners styles */
.partners {

  &__body {
    background: url("../img/Partners-BG-cutted-min.jpg") 0 0/cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 104px;
    max-width: 100%;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 98px;
  }

  &__title {
    @include textParameters($color: $white,
      $size: 30px,
      $ls: 1.8px);
  }

  &__companies {
    max-width: 584px;
    margin: 0 auto;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
/* Partners styles */

/* Contact styles */
.contact {

  padding-top: 180px;
  padding-bottom: 102px;

  &__header {
    margin-bottom: 126px;
  }

  &__data {
    padding-right: 120px;

    &_wrap {
      max-width: 718px;
      display: flex;
      margin: 0 auto;
      gap: 84px;
    }

    &_e-mail {

      mark {
        background-color: $white;
        @include textParameters($weight: 700);
      }
    }
  }

  &__form {

    &_info {
      display: flex;
      flex-wrap: wrap;
      max-width: 380px;
      justify-content: space-between;
    }

    &_field {
      display: inline-block;
      width: 161px;
      margin-bottom: 123px;
      position: relative;
      @include textParameters($lh: 26px);

      &:nth-child(3) {
        display: block;
        width: 100%;
        margin-bottom: 176px;

        &::before {
          content: '';
          width: 100%;
        }
  
        &::after {
          content: '';
          width: 100%;
          height: 118px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $dark;
        top: 35px;
        left: 0;
      }


      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 35px;
        background-color: $inputAfterShadowColor;
        top: 36px;
        left: 0;
      }

      &-input {
        border: 0;
        width: 100%;
        
        &::placeholder {
          @include textParameters($transform: uppercase,
            $ls: .84px,
            $weight: 700);
        }

        &:focus {

          &::placeholder {
            visibility: hidden;
          }
        }
      }
    }

    &_button {
      margin-left: auto;

      &-send {
        border: 0;
        background-color: $white;

        @include textParameters($weight: 700,
          $transform: uppercase,
          $ls: .84px);
      }
    }
  }

  &__text {

    flex: 1 1 auto;

    &_wrap {
      max-width: 254px;
    }

    &_any-idea {
      @include textParameters($lh: 26px);
      margin-bottom: 32px;

      span {
        display: block;
      }
    }

    &_fullname {
      @include textParameters($weight: 700);
      margin-bottom: 20px;
    }

    &_social {
      display: flex;
      flex-wrap: wrap;
      max-width: 70px;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
/* Contact styles */

/* Footer styles */
.footer {

  &__body {
    background-color: $darkgrey;
    max-width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;

  }

  &__header {
    margin-bottom: 41px;
  }

  &__nav {
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    @include textParameters($color: $footerNavLinksColor, $weight: 400);
  }

  &__copyright {
    font-family: "MyriadPro-Regular";
    @include textParameters($color: $copyrightTextColor);
  }
}
/* Footer styles */

/* Media queries */
/* Laptop */
@media screen and (max-width: 1130px) {

  /* Portfolio styles */
  .portfolio {
    &__cards {
      grid-template-columns: 538px;
      grid-template-rows: repeat(6, 365px);
    }
  }
  /* Portfolio styles*/

}
/* Laptop */

/* Tablet */
@media screen and (max-width: 775px) {
  /* About styles*/
  .item-about {
    
      &__title {
        
        &_media {
          margin-bottom: 42px;
        }
      }
    }
  /* About styles*/

  /* Contact styles*/
  .contact {

      &__data {
        padding-right: 0;
    
        &_wrap {
          gap: 0;
          display: block;
          max-width: 100%;
        }
      }

      &__form {

        &_info {
          max-width: 100%;
          column-gap: 10px;
          margin-bottom: 20px;
        }

        &_field {

          &:nth-child(1), &:nth-child(2) {
            width: 200px;
          }

        }
      }
    }
  /* Contact styles*/
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 520px) {

  /* Body styles */
  body {

    &.lock {
      overflow: hidden;
    }
  }
  /* Body styles */

  /* Container styles */
  .container {
    padding: 120px 15px;
    min-height: 80px;
  }
  /* Container styles */

  /* Intro styles */
  .intro {

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: $headerBurgerColor;
      z-index: 4;
    }

    &__burger {
      display: block;
      cursor: pointer;
      position: fixed;
      width: 30px;
      height: 20px;
      top: 30px;
      right: 15px;
      z-index: 5;

      span {
        position: absolute;
        background-color: $burgerColor;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before, &::after {
        content: "";
        background-color: $burgerColor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {

        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        span {
          transform: scale(0);
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }

    &__nav {
      display: block;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark;
      // padding-top: 290px;
      overflow: auto;
      z-index: 2;

      transition: all 0.3s ease 0s;

      &.active {
        top: 0;
      }
    }

    &__list {
      display: block;
      position: absolute;
      left: 0;
      margin: 0 auto;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);

      li {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-size: 24px;
        }
      }
    }

    &__body {
      position: relative;
      z-index: 2;
    }

    &__logo {
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 100px;
    }

    &__more {

      &::after {
        top: 90px;
      }
    }
  }
  /* Intro styles */

  /* Header styles */
  .header {
    display: none;
  }
  /* Header styles */

  /* About styles */
  .about {

    padding-top: 107px;

    &__body {
      max-width: 520px;
    }

    &__row {
      display: block;
    }

    &__column {
      max-width: 320px;
      margin: 0 auto;
    }

    .item-about {

      margin-bottom: 50px;

      &__icon {
        margin-bottom: 20px;
      }

      &__title {
        margin-bottom: 10px;
      }

      &__text {
        padding: 0;
      }
    }
  }
  /* About styles */


  /* Portfolio styles */
  .portfolio {
    &__cards {
      grid-template-columns: 320px;
      grid-template-rows: repeat(6, 280px);
    }
  }
  /* Portfolio styles */

  /* Contact styles */
  .contact {

    &__form {

      &_info {
        display: block;
      }

      &_field {
        display: block;
        width: 100% !important;
      }

      &_button {
        text-align: right;
      }
    }
  }
  /* Contact styles */
}
/* Mobile */
/* Media queries */